*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background-color: #ecf0f1;
  color: #576574;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: solid 1px #EA2027 !important;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}

.btn:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}

.bg-img {
  opacity: .3;
}

.carousel-item {
  background-color: black;
}

.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: .3;
}

.carousel-caption {
  padding-bottom: 100px;
  -webkit-transition: all .9s;
  transition: all .9s;
}

.carousel-caption h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.carousel-caption span {
  color: #EA2027;
}

.carousel-caption a {
  text-transform: uppercase;
  background-color: #EA2027;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
}

.carousel-caption a:hover, .carousel-caption a:active {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  background-color: #c51319;
}

.carousel-indicators .active {
  background-color: #EA2027 !important;
}

.logo {
  border-radius: 100%;
  opacity: .4;
  width: 50px;
}

.navbar-nav {
  font-size: 18px;
  text-transform: uppercase;
}

.nav-icon {
  width: 30px !important;
  height: 30px !important;
  fill: #EA2027 !important;
}

.nav-icon:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  fill: #c51319 !important;
}

.fixed-top .nav-item {
  margin-right: 10px !important;
}

.fixed-top .nav-item .btn-signup {
  background-color: #EA2027;
  color: #fff;
}

.fixed-top .nav-item .btn-signup:hover {
  color: #fff !important;
  background-color: #c51319;
}

.fixed-top .nav-link {
  color: #fff !important;
}

.fixed-top .nav-link:hover, .fixed-top .nav-link:active {
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: #EA2027 !important;
}

.nav-login {
  background-color: #fff;
}

.main-heading {
  color: #c51319;
  font-weight: bold;
}

.card {
  -webkit-box-shadow: 2px 5px 18px -13px #383b40;
          box-shadow: 2px 5px 18px -13px #383b40;
  border: none;
  margin-bottom: 25px;
}

.card-text {
  color: #576574;
}

.header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-title {
  color: #EA2027;
  font-weight: bold;
}

.svg-delete {
  width: 25px !important;
  height: 25px !important;
  fill: #EA2027 !important;
}

.sidebar-heading {
  color: #c51319;
  font-weight: bold;
}

.username-color {
  color: #c51319;
}

.user-details {
  cursor: pointer;
}

.modal-content {
  background-color: #ecf0f1;
  border: none !important;
}

.modal-header {
  text-transform: uppercase;
  color: #fff;
  background-color: #EA2027;
}

.close {
  border: none !important;
  color: #fff !important;
}

.close:hover, .close:active {
  color: #fff;
}

.close:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
}

.btn-modal {
  text-transform: uppercase;
  background-color: #EA2027;
  color: #fff;
}

.btn-modal:hover, .btn-modal:active {
  color: #fff;
  background-color: #c51319;
}
/*# sourceMappingURL=main.css.map */