// VARIABLES //
// $fontColor: #ecf0f1;
$fontColor: #636e72;

$primaryColor: #d35400;

// BASE //
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    // overflow: hidden;
    background-color: #f1f2f6;

}

a:active {
    border: none;
}

// Background Cover Image
.bg-img {
    opacity: .3;
}
// Carousel
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: black;
    
}
.carousel-caption {
    bottom: 30px;
}
.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;

}
.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

// NAVBAR //

// Logo
.logo {
    border-radius: 40%;
    opacity: .2;
    width: 60px;
}
// Nav  
.navbar-nav {
    font-size: 20px;
    text-transform: uppercase;
}
// Nav - Log Out User 
.fixed-top {
    .nav-item {
        .btn-color {
            background-color: $primaryColor;
            color: #bdc3c7;
        }

    }
    .nav-link{
        color: #bdc3c7 !important;
    }
}
// Nav - Log In User 
.nav-login {
    // background: rgb(30,39,46);
    background-color: #fff;
    // background: linear-gradient(61deg, rgba(30,39,46,1) 3%, rgba(71,78,87,1) 60%, rgba(224,226,230,1) 89%);
    box-shadow: 2px 5px 18px -13px rgba(56,59,64,1);    

    .nav-item {
        .btn-color {
            background-color: $primaryColor;
            color: #fff;
        }

    }
    .nav-link{
        color: $fontColor;
    }
}
// MAIN //
.main {
    padding: 20px;
    .main-heding {
        color: $primaryColor;
    }

    .main-card {
        display: flex;
        flex-direction: column;
        align-content: center !important;

        .card-title {
            color: #e67e22;
        }
        .card-text {
            color: $fontColor;

        }
    }
    
}
// SIDEBAR //
.sidebar {
    h2 {
        color: $primaryColor;
    }
    
}
