// VARIABLES //

$fontColor: #576574;
$bgColor: #ecf0f1;
$primaryColor: #EA2027;
$primaryColorDark: #c51319;


// BASE //
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background-color: $bgColor;
    color: #576574;
}

input:focus,
textarea:focus
{
    box-shadow: none !important;
    border: solid 1px $primaryColor !important;
}
.btn:focus {
    box-shadow: none !important;
    border: none !important;
}
.btn:active {
    box-shadow: none !important;
    border: none !important;
}

// Background Cover Image
.bg-img {
    opacity: .3;
}

// Carousel
.carousel-item {
    background-color: black;
}
.banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: .3;
}
.carousel-caption {
    padding-bottom: 100px;
    transition: all .9s;
    h2 {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
    }
    span {
        color: $primaryColor;
    }
    a {
        text-transform: uppercase;
        background-color: $primaryColor;
        padding: 15px 35px;
        display: inline-block;
        margin-top: 15px;
        color: #fff;

        &:hover,
        &:active {
            transition: all .3s;
            text-decoration: none;
            background-color: $primaryColorDark;
        }
    }
}

.carousel-indicators {
    .active {
        background-color: $primaryColor !important;
        
    }
}

// NAVBAR //

// LOGO //
.logo {
    border-radius: 100%;
    opacity: .4;
    width: 50px;
}
// NAV - LIST //
.navbar-nav {
    font-size: 18px;
    text-transform: uppercase;
}
// NAV - ICON //
.nav-icon {
    width: 30px !important;
    height: 30px !important;
    fill: $primaryColor !important;

    &:hover {
        transition: all .3s;
        fill: $primaryColorDark !important;
    }
}
//  NAV - LOG OUT USER //
.fixed-top {
    .nav-item {
        margin-right: 10px !important;
        .btn-signup {
            background-color: $primaryColor;
            color: #fff;
            &:hover {
                color: #fff !important;
                background-color: $primaryColorDark;
            }
        }

    }
    .nav-link{
        color: #fff !important;
        &:hover,
        &:active {
            transition: all .3s;
            text-decoration: none;  
            color: $primaryColor !important;
        }
    }
}


//  NAV - LOG IN USER // 
.nav-login {    
    background-color: #fff;    
}

// MAIN //
.main-heading {
    color: $primaryColorDark;
    font-weight: bold;
}
.card {
    box-shadow: 2px 5px 18px -13px rgba(56,59,64,1);
    border: none;
    margin-bottom: 25px;
}
.card-text {
    color: $fontColor;
}
.header-card {
    display: flex;
    justify-content: space-between;
}
.card-title {
    color: $primaryColor;
    font-weight: bold;
}
.svg-delete {
    width: 25px !important;
    height: 25px !important;
    fill: $primaryColor !important;
}

// SIDEBAR //
.sidebar-heading {
    color: $primaryColorDark;
    font-weight: bold;
}
.username-color {
    color: $primaryColorDark;
}

// MODALS //
.user-details {
    cursor: pointer;
}
.modal-content {
    background-color: $bgColor;
    border: none !important;
}
.modal-header {
    text-transform: uppercase;
    color: #fff;
    background-color: $primaryColor;
}
.close {
    border: none !important;
    color: #fff !important;
    &:hover,
    &:active {
        color: #fff;
    }
    &:focus {
        box-shadow: none !important;
        border: none !important;
    }
}
.btn-modal {
    text-transform: uppercase;
    background-color: $primaryColor;
    color: #fff;
    &:hover,
    &:active {
        color: #fff;
        background-color: $primaryColorDark;
    }
}







